.sg-microcontent-overlay .element::before { 

background: -ms-linear-gradient(top, rgba(255,255,255,0) 53%, rgba(8,8,8,0.72) 95%) !important;
background: linear-gradient(to bottom, rgba(255,255,255,0) 53%, rgba(0, 0, 0, 0.72) 95%) !important; }
	
.sg-microcontent-overlay .element .title, .sg-microcontent-overlay .element .title a {
    text-shadow: 2px 1px 3px #000 !important; }
	
.sg-microcontent-overlay .element .subtitle, .sg-microcontent-overlay .element .subtitle a {
    text-shadow: 2px 1px 3px #000 !important; }
	
.main-content a[href$=".pdf"]::before {
    content: none;}
	