
/* HEADER ------------------------------------------------------*/

#header .header {
	background-image: none !important;
    background-color: #840048 !important;
}

#header .header.bg-header .top-bar {
    background: rgba(0,0,0,0.25);
}
/* incluir logo ancho > 768px (ver media queries mas abajo) */

#header .header.mega-menu>.navbar-default>.container {
	background: none;
}


/* cambios para hacer cabecera mas parecida a la de la UDL -----------------------------------------*/

#header .header .container>.navbar-collapse {
    background: #000;
}
#header .header .navbar-responsive-collapse .navbar-right>li>a {
    color: #fff;
}
#header .header .navbar-responsive-collapse .navbar-right>.active>a,
#header .header .navbar-responsive-collapse .navbar-right>.active>a:hover,
#header .header .navbar-responsive-collapse .navbar-right>.active>a:focus
#header .header .navbar-responsive-collapse .navbar-right>.open>a,
#header .header .navbar-responsive-collapse .navbar-right>.open>a:hover,
#header .header .navbar-responsive-collapse .navbar-right>.open>a:focus {
    background: #570D37 !important;
	border: solid 1px #570D37 !important;
}
#header .header .navbar-responsive-collapse .navbar-right>.active>a:after,
#header .header .navbar-responsive-collapse .navbar-right>.active>a:hover:after,
#header .header .navbar-responsive-collapse .navbar-right>.active>a:focus:after,
#header .header .navbar-responsive-collapse .navbar-right>.open>a:after,
#header .header .navbar-responsive-collapse .navbar-right>.open>a:hover:after,
#header .header .navbar-responsive-collapse .navbar-right>.open>a:focus:after {
    background: #570D37 !important;
}
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu {
    background: #570D37 !important;
	color: #fff;
	border: solid 1px #570D37;
}
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu a {
	color: #fff;
}
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu a:hover,
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu a:focus {
	color: #62a1bf;
}
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu .mega-menu-content .nav-pills>li>a {
    color: #fff;
}
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu .mega-menu-content .nav-pills>li>a:hover,
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu .mega-menu-content .nav-pills>li>a:focus {
    background-color: rgb(0,0,0) !important;
	background-color: rgba(0,0,0,0.5) !important;
    color: #62a1bf !important;
}

/* fin de cambios */

#header .header .navbar-responsive-collapse .navbar-right > li > a:before {
    background: none;
}

#header .dropdown-info-per .btn:hover, a:focus, a:focus-visible {
	color:#62a1bf;
}

#header .dropdown-info-per .btn {
	background: none;
    padding: 10px 20px;
	text-shadow: none;
	border: solid 1px #fff;
	color: #fff;
}
#header .dropdown-info-per.open .btn {
	background: #fff;
    color: #62a1bf;
	border: solid 1px #fff;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
#header .dropdown-info-per .dropdown-menu {
	background: #fff;
    margin: 0;
    border: none;
	-webkit-border-radius: 0;
    border-radius: 0;
    width: 100%;
}
#header .dropdown-info-per .dropdown-menu > li > a {
    padding: 10px 20px;
    color: #62a1bf;
}
@media (min-width: 768px) {
	#header .header.mega-menu>.navbar-default>.container {
		background-image: url('images/logo-new-header.png');
		background-position: 300px 50%;
		background-repeat: no-repeat;
	}
}
@media (min-width: 768px) {
	.home .tscalendar .eventsCalendar-list-content.scrollable {
		height: 690px;
	}
}
@media (min-width: 1200px) {

	#header .header.mega-menu>.navbar-default>.container {
		background-position: 325px 40%;
	}
	#header .header .container>.navbar-collapse {
		/*background: #fff;*/
		padding: 0 0 0 324px;
	}
	#header .header .container > .navbar-collapse > .navbar-right {
		float: left !important;
	}
	#header .dropdown-info-per {
		position: absolute;
		right: 20px;
		top: -60px;
	}
	/*#header .dropdown-info-per .btn {
		border: solid 1px #fff;
		color: #fff;
	}*/
	#header .dropdown-info-per .btn .fa-caret-down {
    	padding-left: 45px;
	}	
}
@media (min-width: 1200px) {

	#header .header.mega-menu>.navbar-default>.container {
		background-position: 98% 40%;
	}
	#header .dropdown-info-per {
		right: 20px;
		top: 7px;
	}
	/*#header .dropdown-info-per .btn {
		border: solid 1px #797979;
		color: #797979;
	}*/
	#header .dropdown-info-per .btn .fa-caret-down {
    	padding-left: 25px;
	}	
	#header .dropdown-info-per.open .btn {
		background: #fff;
		color: #62a1bf;
		border: solid 1px #62a1bf;
		border-bottom: solid 1px #fff;
	}
	#header .dropdown-info-per .dropdown-menu {		
		border: solid 1px #62a1bf;
		border-top: solid 1px transparent;
	}
}
@media (min-width: 1360px) {
	#header .header.mega-menu>.navbar-default>.container {
		background-position: right 40%;
	}
}

@media (max-width: 1200px) {
	#header .header.bg-header .top-bar {
		background: none;
	}
	#header .header .top-bar > li > a {
		color: #777;
	}
	#header .dropdown-info-per {
		margin-top: 15px;
	}
	#header .dropdown-info-per .dropdown-menu {
		position: relative;
	}	
}

@media (max-width: 480px) {
	.home .featured-tabs.sg-tabs > .tab-v1 > .nav-tabs	> li {
		margin-left: 3px;
		display: table;
    	table-layout: fixed;
	}
	.home .featured-tabs.sg-tabs > .tab-v1 > .nav-tabs	> li:first-child {
		margin-left: 0;
	}
	.home .aside .featured-tabs.sg-tabs > .tab-v1 > .nav-tabs	> li > a {
		padding: 22px 15px;
		font-size: 14px;
		height: 84px;
		max-width: 100px;
		display: table-cell;
		vertical-align: middle;
	}
	.home .nav-tabs > li > a {
		padding: 22px 10px;
		font-size: 13px;
		max-width: 84px;
		height: 80px;
	}
	
}

/* DESPLEGABLE DE ESTUDIS ------------*/

/*
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu .mega-menu-content .estudis-col-1 .nav-pills > li:nth-child(1) > a {
	padding-right: 55px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('images/icon-quality-1.png');
}

#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu .mega-menu-content .estudis-col-1 .nav-pills > li:nth-child(2) > a {
	padding-right: 80px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('images/icon-quality-3.png');
}


#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu .mega-menu-content .estudis-col-1 .nav-pills > li:nth-child(3) > a,
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu .mega-menu-content .estudis-col-1 .nav-pills > li:nth-child(4) > a {
	padding-right: 105px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('images/icon-quality-2.png');
}


#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu .mega-menu-content .estudis-col-2 > ul:first-of-type > li:nth-child(1) > a {
	padding-right: 105px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('images/icon-quality-2.png');
}
#header .header .navbar-responsive-collapse .navbar-right .dropdown-menu .mega-menu-content .estudis-col-2 > ul:first-of-type > li:nth-child(2) > a {
	padding-right: 80px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('images/icon-quality-3.png');
}

*/

/* FOOTER -----------------------------------*/

#footer .fa-whatsapp {
    background: #50CA5E;
    -webkit-border-radius: 50%;
	border-radius: 50%;
    color: #fff;
    padding: 5px;
    margin-right: 3px;
    margin-left: 10px;
}

/* LAYOUT -----------------------------------*/

@media (min-width: 1360px) {
	.container {
		width: 1300px;
	}
}

/* QUITAR EFECTO EN AMPLIACION DE IMAGENES */

.zoom-filter .overlay-zoom .zoom-icon {
	background: none;
}

.zoom-filter:hover .overlay-zoom .zoom-icon,
.zoom-filter:focus .overlay-zoom .zoom-icon {
    transform: scale(1);
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
}
.zoom-filter:hover .overlay-zoom img {
    -webkit-filter: none;
    filter: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* HOME ------------------------------------------*/

.home .nav-tabs > li > a {
	background: #dadad6;
	border: none;
	padding: 22px 10px;
    font-size: 15px;
}
.home .nav-tabs > li > a:hover,
.home .nav-tabs > li.active > a,
.home .nav-tabs > li.active > a:hover,
.home .nav-tabs > li.active > a:focus {
	background: #f3f3f3;
	border: none;
}
.home .tab-content {
    border: none;
    background: #f3f3f3;
}
.home .featured-tabs.sg-tabs .panel-group > .panel > .panel-heading {
	padding: 6px 20px;
}
.home .featured-tabs.sg-tabs .panel-group > .panel:first-child > .panel-heading {
	background: #630036;
}
.home .featured-tabs.sg-tabs .panel-group > .panel.open:first-child > .panel-heading {
	background: #38001e;
}
.home .featured-tabs.sg-tabs .panel-group > .panel:last-child > .panel-heading {
	background: #45a957;
}
.home .featured-tabs.sg-tabs .panel-group > .panel.open:last-child > .panel-heading {
	background: #204a28;
}

.home .featured-tabs.sg-tabs .panel-group > .panel > .panel-heading > .panel-title {
	padding: 9px 0;
	font-size: 13.3px;
}
.home .featured-tabs.sg-tabs .panel-group > .panel > .panel-heading > .panel-title a {
	padding: 3px 0 3px 50px;
}
.home .featured-tabs.sg-tabs .panel-group > .panel > .panel-heading > .panel-title .panel-icon {
    right: auto;
    margin-top: -12px;
    left: 0;
	font-size: 24px;
}



/* FEATURED LINKS -----------------------------------*/

.sg-featuredlink .link-end-date {
    color: #999;
    margin-bottom: 5px;
}

/* Formatter tipo documento basado en el recurso de Generic Content*/

.eps-document .headline {
	width: calc(100% - 90px);
}
.eps-document .actions-doc a {
	font-size: 30px;
}
.eps-document .actions-doc {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 200;
}
/* cabecera traductor de Google */

#googletranslate {
	background: #eee;
    /*background: rgba(255,255,255,0.8);*/
}
#googletranslate .container {
    padding-top: 7px;
	padding-bottom: 7px;
	text-align: right;
}

/* titpo texto */

.articulo .contentblock-texto.row ul li ul li {
    list-style: inside circle none;
}

/* guia docent */

.articulo.guia-docent .contentblock table thead > tr > td {
	font-weight: bold;
	color: #840048;
}
.articulo.guia-docent .contentblock table thead > tr:first-child > td {
	background: #840048;
	color: #fff;
}

/* acordeones dentro de otros tabs en los destacados home */

.home .featured-tabs.sg-tabs .sg-tabs .panel-group .panel {
	border: none;
	background: none;
}
.home .featured-tabs.sg-tabs .sg-tabs .panel-group .panel .panel-body {
    padding: 15px 0;
    border: none;
    background: none;
}

/* tablas de guias docentes */

.articulo .contentblock table.taula_gc tr th {
	font-size: 16px;
}
.articulo .contentblock table.taula_gc tr td.gc {
	font-size: 18px;
	font-weight: bold;
}
@media (min-width: 768px) {
	#header .header.mega-menu>.navbar-default>.container {
		background-image: url('images/logo-new-header.png');
		background-position: 300px 50%;
		background-repeat: no-repeat;
	}
}
@media (min-width: 768px) {
	.home .tscalendar .eventsCalendar-list-content.scrollable {
		height: 690px;
	}
}
@media (min-width: 1200px) {

	#header .header.mega-menu>.navbar-default>.container {
		background-position: 325px 40%;
	}
	#header .header .container>.navbar-collapse {
		/*background: #fff;*/
		padding: 0 0 0 324px;
	}
	#header .header .container > .navbar-collapse > .navbar-right {
		float: left !important;
	}
	#header .dropdown-info-per {
		position: absolute;
		right: 20px;
		top: -60px;
	}
	/*#header .dropdown-info-per .btn {
		border: solid 1px #fff;
		color: #fff;
	}*/
	#header .dropdown-info-per .btn .fa-caret-down {
    	padding-left: 45px;
	}	
}
@media (min-width: 1200px) {

	#header .header.mega-menu>.navbar-default>.container {
		background-position: 98% 40%;
	}
	#header .dropdown-info-per {
		right: 20px;
		top: 11px;
	}
	/*#header .dropdown-info-per .btn {
		border: solid 1px #797979;
		color: #797979;
	}*/
	#header .dropdown-info-per .btn .fa-caret-down {
    	padding-left: 25px;
	}	
	#header .dropdown-info-per.open .btn {
		background: #fff;
		color: #62a1bf;
		border: solid 1px #62a1bf;
		border-bottom: solid 1px #fff;
	}
	#header .dropdown-info-per .dropdown-menu {		
		border: solid 1px #62a1bf;
		border-top: solid 1px transparent;
	}
}
@media (min-width: 1360px) {
	#header .header.mega-menu>.navbar-default>.container {
		background-position: right 40%;
	}
}

@media (max-width: 1200px) {
	#header .header.bg-header .top-bar {
		background: none;
	}
	#header .header .top-bar > li {
		display: inline-block;
	}
	#header .header .top-bar > li > a {
		color: #999;
	}
	#header .dropdown-info-per {
		margin-top: 15px;
	}
	#header .dropdown-info-per .dropdown-menu {
		position: relative;
	}	
}

@media (max-width: 480px) {
	.home .featured-tabs.sg-tabs > .tab-v1 > .nav-tabs	> li {
		margin-left: 3px;
		display: table;
    	table-layout: fixed;
	}
	.home .featured-tabs.sg-tabs > .tab-v1 > .nav-tabs	> li:first-child {
		margin-left: 0;
	}
	.home .aside .featured-tabs.sg-tabs > .tab-v1 > .nav-tabs	> li > a {
		padding: 22px 15px;
		font-size: 14px;
		height: 84px;
		max-width: 100px;
		display: table-cell;
		vertical-align: middle;
	}
	.home .nav-tabs > li > a {
		padding: 22px 10px;
		font-size: 13px;
		max-width: 84px;
		height: 80px;
		display: table-cell;
    	vertical-align: middle;
	}
	
}
@media (min-width: 992px) {
	.eps-document .headline {
		width: calc(100% - 115px);
	}
	.eps-document .actions-doc a {
		font-size: 50px;
	}
}

@media print {
	.headline {
		padding-left: 0;
		border: none;
	}
}