/* ESTILOS EDICIÓN OPENCMS */

/*
body .org-opencms-gwt-client-ui-css-I_CmsDirectEditCss-optionBar,
.org-opencms-ade-containerpage-client-ui-css-I_CmsLayoutBundle-I_CmsDragDropCss-dragElement div.org-opencms-gwt-client-ui-css-I_CmsDirectEditCss-optionBar{
	position: absolute !important;
	margin-left: auto !important;}
body{opacity: 1;}

*/




/* CSS DIA DE LA DONA */
/*
#header .header {background: linear-gradient(to right, #61116f 0%, #751483 28%, #751483 72%, #61116f 100%) !important; }
#header .header .navbar-top { background: #751483!important; }

#header .header .navbar-responsive-collapse .navbar-left .dropdown-menu {background:#751483 !important;}  
#header .header .navbar-responsive-collapse .navbar-left > .open > a { background: #751483 !important;} 
#header .header .navbar-responsive-collapse .navbar-left > a:hover { background: #751483 !important;}
#header .header .navbar-responsive-collapse .navbar-left .dropdown-menu > a:hover { background: #751483 !important;}


#header .header .navbar-responsive-collapse .navbar-right .nav > li > .btn-specific-main { border-color: #751483 !important; background: #860c98 !important; }
#header .header .navbar-responsive-collapse .navbar-right .nav > li > .btn-specific-main:hover { background: #61116f !important; }
.btn-specific-main { background-color: #860c98!important; }
.btn-specific-main.btn-bordered { color: #fff!important;}
.list.udl-list-noticias-home .main-ul > li.udl-new-box > article::after { background: #61116f !important;}
.brand-color { color: #61116f!important;}
*/
/* FIN CSS DIA DE LA DONA */



/* CSS LGTBI */
/*
#header .header {
  background-image: url("http://www.udl.cat/.galleries/imagenes-redisseny/fonsLGTBI.jpg") !important; 
  height:100% !important;
  width:auto !important;
  background-repeat: no-repeat !important;
  background-position: left 36px !important;  }
#header .header .navbar-top { background: #6c0740 !important; }
*/
/* FIN CSS LGTBI */


@media screen and (max-width: 479px) {
	.list.list-agenda-slider .main-ul-slider > li.slide .date-slide strong {
		font-size: 25px !important;	}
	
	.list.list-agenda-slider .main-ul-slider>li.slide .today-mark.today-mark-ca {
		font-size: 30px !important;	}
}

@media screen and (max-width: 767px) {
	.pb-30-xs {padding-bottom: 30px;}
}

.video-bg {
	min-width: 100% !important;
	min-height: 100% !important;
	width: auto !important; /* auto */
	height: 100% !important; /* 100% */
	
/* overflow-x: hidden !important; */
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%,-50%); }
	
.carousel .carousel-inner .carousel-caption, .carousel .carousel-inner .item .carousel-caption {text-shadow: 1px 1px 1px rgb(0, 0, 0); padding: 8px; font-size: 16px !important; }
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right { right: 20%;}
.carousel-control .glyphicons-chevron-left, .carousel-control .glyphicons-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next { margin-top: -25px; font-size: 50px;}

/*.carousel .carousel-control-acc { display: none !important;}*/

/*#sliderdestacats a {color: #831453;}
#sliderdestacats a:hover {color: #000;}*/

#header .header .navbar-responsive-collapse .navbar-left > li > a {padding: 18px 21px !important;}

#header .header .navbar-responsive-collapse .navbar-left > li .navbar-form .form-control {width: 172px !important;}

/* Definicio de títols i que no apareixen a la web*/

.offscreen{
	position: absolute;
	left: -1000em;

 }

.subtitle-h2{
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	padding-top: 15px;
	margin-bottom: -50px !important;
	margin-top: 0px !important ;
 }
 
.footer-h3{
	font=size: 17px;
}


.no-margin-top {
	margin=top: 0px;
}

.mes-info-style{
	margin-bottom: 20px;
	padding-bottom: 7px;
	padding-top: 5px;
	border-bottom: solid #ccc 2px;
	font-size: 16px;
	color: #570d37;
	font-weight: bold;
}


. border-bott-h2{
	border-bottom: #999 solid 1px ;
}

.destacats.subtitle {
	color: #fff;
	font-size: 14px !important ;
}


